<%- include ('partials/header'); -%>

<div>
    <div class="header">
        <h1 style='font-size: 60px'>Create New Account</h1>
    </div>
    <div class="topnav">
      <a href = "/">Home</a>
      <a href = "/create_account" id = "currentPage">Create Account</a>
      <a href = "/login">Login</a>
      <a href = "/search">Search</a>
      <a href = "/cart">Cart</a>
    </div>   
</div>

<div class='container'>
    <div class='jumbotron'>
        <div align='center'>
            <div id="content">
            <h1> Shopping Cart</h1>
        </div>
        </br>
    </div>
</div>

<%- include ('partials/footer'); -%>