<%- include ('partials/header'); -%>

    <div>
        <div class="header">
            <h1 style='font-size: 60px'>Video Game Store</b></h1>
            <h4>Signed in as <%=user%></h4>
        </div>
        <div class="topnav">
<<<<<<< HEAD
            <a href = "/" id = "currentPage">Home</a>
<<<<<<< HEAD
            <a href = "/create_account">Create Account</a>
            <a href="/logout">Log Out</a>
            <a href="/user">User Accoutn</a>
=======
=======
            <a href = "/" id = "currentPage"><strong>Home</strong></a>
>>>>>>> 0daab415e88bc90755d3be269daba082feb74ea4
            <a href="/user">User Account</a>
            <a href="/search">Search</a>
            <a href="/cart">Cart</a>
            <a href="/logout">Log Out</a>
>>>>>>> 7cfede361347810236359996f5c0cb295cbd60a2
        </div>   
    </div> 

    <div class='container'>
        <div class='jumbotron'>
            <div align='center'>
                <strong>
                    <p>Welcome to our Video Game Web Store!</p>    
                </strong>
            </div>
            </br>
        </div>
    </div>
    
<%- include ('partials/footer'); -%>