<%- include ('partials/header'); -%>

    <div>
        <div class="header">
            <h1 style='font-size: 60px'>Video Game Store</b></h1>
        </div>
        <div class="topnav">
            <a href = "/" id = "currentPage"><strong>Home</strong></a>
            <a href = "/create_account">Create Account</a>
            <a href = "/login">Login</a>
            <a href = "/search">Search</a>
        </div>   
    </div>
    
    <div class='container'>
        <div class='jumbotron'>
            <div align='center'>
                <strong>
                    <p>Welcome to our Video Game Web Store!</p>    
                </strong>
            </div>
            </br>
        </div>
    </div>
    
    
<%- include ('partials/footer'); -%>