<%- include ('partials/header'); -%>

    <div>
        <div class="header">
            <h1 style='font-size: 60px'>Video Game Store</b></h1>
            <h4>Signed in as <%=user%></h4>
        </div>
        </div>
        <div class="topnav">
            <a href = "/" id = "currentPage">Home</a>
            <a href = "/create_account">Create Account</a>
            <a href="/logout">Log Out</a>
        </div>   
    </div>
    
    <div class='container'>
        <div class='jumbotron'>
            <div align='center'>
                <strong>
                    <p>Your account!</p>    
                </strong>
            </div>
            </br>
        </div>
    </div>
    
<%- include ('partials/footer'); -%>